/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide overflow to prevent scrollbars */
}

/* Background Video Styles */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover; /* Ensure video covers the entire background */
}

/* Video Content Styles */
.video-content {
  position: relative;
  z-index: 1;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Navigation Styles */
.navigation {
  border-radius: 6px;
  background-image: linear-gradient(
    rgb(48, 48, 48) 13%,
    rgb(30, 30, 30) 40%,
    #2a0484 86%
  );
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0 -2px 0 black;
  cursor: pointer;
  box-shadow: 1px 2px 4px rgb(20, 20, 20), 0 4px 12px rgb(10, 10, 10);
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

.navigation-list {
  display: flex; /* Display navigation items horizontally */
  list-style: none; /* Remove default list styles */
  margin: 0; /* Remove default margin */
  padding: 10px; /* Remove default padding */
}

.navigation-item {
  margin-right: 10px; /* Add margin between navigation items */
}

.navigation-item:last-child {
  margin-right: 0; /* Remove margin from the last navigation item */
}

.navigation-link {
  color: #5f00f8;
  text-decoration: none; /* Remove default underline */
}

/* ProductList Styles */
.product-list-container {
  background-color: #dfd9d2;
  display: block;
  color: rgb(23, 22, 22);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  max-height: 80vh; /* Set a maximum height for the container */
  overflow-y: auto; /* Enable vertical scrolling when content exceeds the container height */
  opacity: 0.90;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  perspective: 1000px;
}

.product img {
  max-width: 50%; /* Reduce image size */
  height: auto;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; /* Add gap between items */
}

.product {
  border: 2px solid #0a0a0a;
  padding: 10px;
  border-spacing: 1cap;
}

.product h3 {
  border: 1px solid #b07c03;
  margin-top: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: rotateY(-10deg) rotateX(10deg);
  perspective: 1000px;
}

/* Product Details Styles */
.product-details-container {
  background-color: #dfd9d2;
  display: block;
  color: rgb(23, 22, 22);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  max-height: 80vh; /* Set a maximum height for the container */
  overflow-y: auto; /* Enable vertical scrolling when content exceeds the container height */
  opacity: 0.90;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  perspective: 1000px;
}

.product-details-container img {
  max-width: 50%; /* Reduce image size */
  height: auto;
}

.product-details-container h2 {
  border: 1px solid #b07c03;
  margin-top: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: rotateY(-10deg) rotateX(10deg);
  perspective: 1000px;
}

/* Infinite Scrolling for Cart and Checkout */
.cart-container,
.checkout-container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ebece5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 80vh; /* Set maximum height for infinite scrolling */
}

.cart-title,
.checkout-title {
  border: 1px solid #d18f0c;
  text-align: center;
  margin-bottom: 20px;
  color: #5a07ea;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: rotateY(-10deg) rotateX(10deg);
  perspective: 1000px;
}

.cart-items,
.checkout-items {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  overflow-y: auto;
  max-height: 60vh; /* Set maximum height for the item list */
}

.cart-item,
.checkout-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.cart-info p,
.checkout-info p {
  margin-bottom: 10px;
}

.cart-checkout-button,
.checkout-button {
  padding: 10px 20px;
  background-color: #7700ff;
  color: #171616;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-checkout-button:hover,
.checkout-button:hover {
  background-color: #0056b3;
}

/* Register Styles */
.register-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.register-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: rotateY(-10deg) rotateX(10deg);
  perspective: 1000px;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

/* Single Book Styles */
.single-book-container {
  border: 3px solid #090808; /* Add border */
  border-radius: 8px; /* Add border radius for rounded corners */
  background-color: #ccc;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  opacity: 0.80;
}

.single-book-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(112, 33, 249, 0.5);
  transform: rotateY(-10deg) rotateX(10deg);
  perspective: 1000px;
}

.single-book-info {
  margin-bottom: 10px;
}

.single-book-description {
  margin-bottom: 20px;
}

.single-book-image {
  max-width: 50%;
  height: auto;
  margin-bottom: 20px;
}

.single-book-link {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
}

.single-book-link:hover {
  text-decoration: underline;
}

/* Home Styles */
.home-container {
  background-color: #d99709;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: rotateY(-10deg) rotateX(10deg);
  perspective: 1000px;
  border: 3px solid #090808; /* Add border */
  border-radius: 8px; /* Add border radius for rounded corners */
}

.home-container h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.home-container p {
  font-size: 18px;
  color: #5f00f8;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on medium screens */
  }
}

@media (max-width: 768px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on small screens */
  }
}

@media (max-width: 480px) {
  .product-list {
    grid-template-columns: 1fr; /* 1 column on very small screens */
  }
}

/* Account Info Styles */
.account-container {
  display: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ebece5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account-title {
  border: 1px solid #d18f0c;
  text-align: center;
  margin-bottom: 20px;
  color: #5a07ea;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: rotateY(-10deg) rotateX(10deg);
  perspective: 1000px;
}

.account-info {
  margin-bottom: 20px;
}

.account-info p {
  margin-bottom: 10px;
}

.account-button {
  padding: 10px 20px;
  background-color: #7700ff;
  color: #171616;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.account-button:hover {
  background-color: #0056b3;
}

/* Cart Styles */
.cart-container {
  background-color: #e98009;
  display: grid;
  color: rgb(23, 22, 22);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  max-height: 80vh; /* Set a maximum height for the container */
  overflow-y: auto; /* Enable vertical scrolling when content exceeds the container height */
  opacity: 0.90;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  perspective: 1000px;
}

.cart-item img {
  max-width: 50%; /* Reduce image size */
  height: auto;
}

.cart-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; /* Add gap between items */
}

.cart-item {
  border: 2px solid #0a0a0a;
  padding: 10px;
  border-spacing: 1cap;
}

.cart-item h3 {
  border: 1px solid #b07c03;
  margin-top: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: rotateY(-10deg) rotateX(10deg);
  perspective: 1000px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .cart-items {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on medium screens */
  }
}

@media (max-width: 768px) {
  .cart-items {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on small screens */
  }
}

@media (max-width: 480px) {
  .cart-items {
    grid-template-columns: 1fr; /* 1 column on very small screens */
  }
}

.cart-summary {
  border-top: 2px solid #0a0a0a;
  padding: 10px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  text-shadow: none; /* No text shadow for summary */
}

.cart-summary-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.cart-checkout-button {
  background-color: #b07c03;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.cart-checkout-button:hover {
  background-color: #7a5202;
}

/* Checkout Styles */
.checkout-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 3px solid #090808; /* Add border */
  border-radius: 8px; /* Add border radius for rounded corners */
}

.checkout-title {
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: rotateY(-10deg) rotateX(10deg);
  perspective: 1000px;
  border: 3px solid #090808; /* Add border */
  border-radius: 8px; /* Add border radius for rounded corners */
}

.checkout-form {
  display: flex;
  flex-direction: column;
}

.checkout-input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkout-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout-button:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on medium screens */
  }
}

@media (max-width: 768px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on small screens */
  }
}

@media (max-width: 480px) {
  .product-list {
    grid-template-columns: 1fr; /* 1 column on very small screens */
  }
}
